@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playpen+Sans+Deva:wght@100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-radius: 10px;
    margin: 12px 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 10px 10px 0px;
    padding: 20px 40px;
}

.card-label{
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
    color: rgba(181, 181, 181, 1);
    padding: 10px;
}

.card-value{
    font-family: 'Arimo';
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;

    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}


@media screen and (max-width: 600px) {
    .card {
        padding: 20px;
        margin: 10px;
    }
    
    .card-label {
        font-size: 20px;
    }
    
    .card-value {
        font-size: 28px;
    }
    
}